
    
   


.reg{
    
    padding: 1.5em;
    border-radius: 1em;
    color: #423c3c;
    font-weight: 100;
    width: 300px;
    display: inline-block;
    margin: 10px 0 0 45px;
}

.card-img{
    width: 200px;
    border-radius: 90%;
    height: 200px;


}
.tite{
    width: 10% 10% 10% 10%;
    width: 500px;
}
.tites{

background-color: rgb(100, 100, 100);
width: 10% 10% 10% 10%;
width: 130px;
}
.top{
    background-color: rgb(100, 100, 100);
    width: 10% 10% 10% 10%;
    width: 130px;
}
.free{
    background-color: rgb(100, 100, 100);
    width: 10% 10% 10% 10%;
    width: 130px;
}
.reg-footer a {
    text-decoration: none;
    letter-spacing: .7px;
    color: #000;
    font-weight: bold;
    margin-left: 260px;
}

.reg-footer a:hover {
    color: rgb(0, 153, 255);
}
