*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-form{  
    background: #fff;
    height: 619px;
    width: 1512px;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-group {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}
.contact-form h3{
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 29px;
    margin-bottom: 20px;
    text-align: center;
}
.form-control{
    border-radius:0.3rem;
    color: var(--input-border, #9E9E9E);
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}
.contact-form .btnContact
{
    width: 274px;
    height: 67px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #bd9206;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form-group .form-control {
    margin-right: 10px;
}
.text-center {
    text-align: center;
}
@media (max-width: 768px) {
    .contact-form {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .form-group {
        flex-basis: 100%;
    }
    .form-control[type="textarea"] {
        width: 100%;
        height: 200px;
    }
    .form-control[type="text"] {
        width: 100%;
    }
}