<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>


    <!-- 3 elementos al centro -->
    <nav class="main-nav">
        <ul class="menu">
            <li class="menu__item to-left">
                <a class="menu__link" href="#"><img class="brand-logo" src="" alt=""></a>
            </li>



            <li class="menu__item home-btn">
                <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Books</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">FeedBack</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#">Contact Us</a>
            </li>


            <span class="to-right">
                <li class="menu__item ">
                    <a class="menu__link" href="#"><button type="submit">Sign In</button></a>
                </li>
                <li class="menu__item ">
                    <a class="menu__link" href="#"><button type="submit">Register</button></a>
                </li>
            </span>
        </ul>
    </nav>


</body>

</html>