/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 70px;
  background-color: transparent;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

/* Logo Section */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
  width: 182px;
  height: 40px;
  margin-right: 10px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a.active {
  color: #ffffff;
  background-color: #1864ab;
  padding: 8px 12px;
  border-radius: 5px;
}

.nav-links a:hover {
  color: #0056b3;
}

/* Authentication Buttons */
.auth-buttons {
  display: flex;
  align-items: center;
}

.sign-in,
.register {
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.sign-in {
  width: 128px;
  height: 49px;
  background-color: white;
  color: #000000;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: inset 0px 4px 4px 0px #00000040;
}

.register {
  width: 128px;
  height: 49px;
  background-color: #f5a623;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: inset 0px 4px 4px 0px #00000040;
}

/* Mobile-specific styles (max-width: 768px) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: lightblue;
  }

  .nav-links.active {
    display: flex !important;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .sign-in,
  .register {
    width: 100%;
    margin: 5px 0;
  }
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Show hamburger menu on smaller screens */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex !important;
    flex-direction: column;
  }
}
