.brand-logo {}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    display: flex;

}

a {
    display: block;
    padding: 8px;
    background-color: #ffffff;
    color: black;
}


.menu {
    display: flex;
}

.to-left {
    margin-right: auto;
    margin-left: auto;
}


.to-right {
    margin-left: auto;
}

.home-btn {
    background-color: rgb(38, 139, 151);
}

.centered {
    margin-right: auto;
    margin-left: auto;
}